* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    color: #f1eeee;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(95, 5, 5);
    height: 10vh;
    padding-top: -4000px;
}

.nav-list {
    font-size: 12.5px;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.borda {
    background-color: rgb(138, 135, 119); border-radius: 26px; padding: 8px; text-align: center;
}

main {
    padding-top: 10vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i0.wp.com/www.crossovernerd.com/wp-content/uploads/2022/02/Guia_leitura_cronologico_homem_Aranha_Capa.jpg?fit=1920%2C1080&ssl=1');
    background-size: cover;
    background-repeat: no-repeat;
    height: 89.5vh;
}

.centralizar {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.login {
    background: rgb(95, 5, 5);
    border: none;
    border-radius: 10px;
    width: 500px;
    padding: 40px;
}

.login h2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
}

.login .infors {
    position: relative;
}

.login .infors input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid white;
    font-size: 16px;
    margin-bottom: 30px;
}

.login .infors label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: white;
    pointer-events: none;
    transition: .5s;

}

.login .infors input:focus~label, .login .infors input:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

.senha {
    font-size: 12px;
    color: white;
    float: right;
}

.senha:hover {
    text-decoration: underline;
}

.btn {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
    margin-left: 200px;
}

.btn:hover {
    background-color: #c2c2c2;
}

.btn h4 {
    margin-top: 7%;
}