* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    color: #f1eeee;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(95, 5, 5);
    height: 10vh;
}

.nav-list {
    font-size: 12.5px;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.borda {
    background-color: rgb(138, 135, 119); border-radius: 26px; padding: 8px; text-align: center;
}

main {
    padding-top: 10vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i0.wp.com/www.crossovernerd.com/wp-content/uploads/2022/02/Guia_leitura_cronologico_homem_Aranha_Capa.jpg?fit=1920%2C1080&ssl=1');
    background-size: cover;
    background-repeat: no-repeat;
    height: 89.5vh;
}



.container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 50px;
    background-color: rgb( 230, 230, 230);
    color: #202020;
    width: 300px;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card>h1 {
    font-size: 20px;
    padding-top: 10px;
}

.card>h2 {
    font-size: 20px;
    padding-top: 15px;
}

.card>img {
    margin-top: -10px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

.btn {
    margin-top: 30px;
    font-size: 17px;
    padding: 10px 50px;
    border: none;
    background-color: rgb(95, 5, 5);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: #1a0000;
    color: #c2bdbd;
}
