* {
    margin: 0;
    padding: 0;
    
}

body {
    overflow-x: hidden;
    background-color: rgb(46, 9, 9);
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    color: #f1eeee;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(46, 9, 9);
    height: 10vh;
}

.nav-list {
    font-size: 12.5px;
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.borda {
    background-color: rgb(138, 135, 119); border-radius: 26px; padding: 8px; text-align: center;
}

main {
    padding-top: 10vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://i0.wp.com/www.crossovernerd.com/wp-content/uploads/2022/02/Guia_leitura_cronologico_homem_Aranha_Capa.jpg?fit=1920%2C1080&ssl=1');
    background-size: cover;
    background-repeat: no-repeat;
    height: 89.5vh;
}



.t1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    color: #c2bdbd;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h5 {
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.t2 {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 1.4rem;
    color: #c2bdbd;
    margin-left: 10px;
    margin-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.one {
    width: 100%;
    height: 30vh;
    background-color: rgb(46, 9, 9);
    border: none;
    border-radius: 60px;
    margin-top: 325px;
}

.t2 p {
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 600px;
}

.img1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 180px;
    padding-top: 0%;
    margin-top: -170px;
    
}
